*{
	box-sizing: border-box;
}

nav {
	display: flex;
	align-items: center;
}

a {
	display: block;
	text-align: center;
   	margin-right: 10px;
}

a.logo {
	margin-right: auto;
}

@media all and (max-width: 1280px) {
 a.logo {
	margin-right: 10px;
}

a:nth-child(2), a:nth-child(3){
	order: -1;
}

nav {
	justify-content: space-around;
}
}

@media all and (max-width: 375px) {
     nav {
     	flex-direction: column;
     }
     a:nth-child(2), a:nth-child(3){
	order: 0;
}
}